/* banner-styles section */
body {

    font-family: Lato;
}

.banner-heading {
    color: #272727;
    font-family: Lato;
    font-size: 80px;
    margin-bottom: 30px;
}

.banner-paragraph {
    color: rgba(39, 39, 39, 0.60);
    font-family: Lato;
    font-size: 18px;
    margin-top: 0px;
    margin-bottom: 30px;

}

.btn-primary {
    border-radius: 8px;
    background: #E55473;
    border: none;
    color: #FFF;
    padding: 20px 30px;
}

.header {

    background-color: #cf49661a;
}

.banner {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
}

.banner .profile-pic {
    /* width: 500px; */
    /* padding: 50px 0px 150px 150px; */
    background-position:bottom-right;
    padding:40px 30px 0px 150px;
}

.banner-content {
    padding: 180px 200px;
}

/* Flower-features styles section */
.Flower-features {
     margin: 100px 400px; 
   

}

.features {
    text-align: center;
}

.features-title {
    color: #272727;
    font-size: 40px;
    margin-bottom: 25px;
}

.features-paragraph {
    color: rgba(39, 39, 39, 0.60);
    font-size: 18px;
    margin-bottom: 50px;

}

.feature-image-1 {
    background-repeat: no-repeat;
    border-radius: 300px 300px 0px 0px;
    background: rgba(167, 33, 98, 0.15);
    

}

.feature-image-2 {
    border-radius: 300px 300px 0px 0px;
    background: rgba(5, 151, 160, 0.15);
    
}

.feature-image-3 {
    border-radius: 300px 300px 0px 0px;
    background: rgba(71, 125, 17, 0.15);
    
}


.images-section {
    display: flex;
    text-align: center;
    gap: 20px;
    margin-bottom: 30px;

}

.figcaption {
    display: flex;
    text-align: center;
    margin: auto;
    font-size:larger;
    text-decoration: underline;
}



/* features icon section */

.Features-icon {
    margin:100px 400px;
    display: flex;
    justify-content: space-around;
    text-align: center;
    border-radius: 8px;
    background: rgba(39, 39, 39, 0.05);

}

.image-icon {
    padding: 25px  30px;
}

/* occasions section styles */

.occasion-container{
    display: flex;
}

.occasion-section{
    text-align: center;
    gap:0px;
    justify-content: space-around;
}
.occasion-item{
    padding:70px;
    border-radius: 5px;
    background: #FFF;
    box-shadow: 0px 6px 50px 0px rgba(126, 125, 125, 0.952);
    text-align: center;
    margin: 30px;
    
}
.occasion-title{
    color: #272727;
    text-align: center;
    font-size: 40px;
    padding-top: 20px;
}

.occasion-description{
    color: rgba(5, 5, 5, 0.829);
    text-align: center;
    font-size: 18px;

}






/* Offer-section-styles */

.Offer-section {
    display: flex;
    justify-content: space-around;
    border-radius: 8px;
    background: rgba(229, 84, 115, 0.05);
    height: 620px;
    margin-bottom: 100px;
    align-items: center;
    margin-top: 90px;
}

.offer-content {
    
    padding: 100px 200px;

}

.offer-images {
    padding-right: 400px;
    padding-top: 100px;
}

.offer-title {

    color: #272727;
    font-size: 40px;

}

.offer-paragraph {
    color: rgba(39, 39, 39, 0.60);
    font-size: 18px;

}

.offer-content,
#btn {

    text-align: center;
}

.offer-span{
    color:#E55473;
}

/* Instagram-section styles */

.image-container {
    display: flex;
    gap: 20px;
    justify-content: center;
}

.section-title {
    color: #272727;
    text-align: center;
    font-size: 40px;
    padding-top: 20px;
}

.section-description {
    color: rgba(39, 39, 39, 0.60);
    text-align: center;
    font-size: 18px;
    padding: 10px 600px;
}


/* Registration-section styles */

.registration-section {
    text-align: center;
    background: url('../images/Rectangle\ 9.png');
    background-repeat: no-repeat;
    margin: 100px 220px;
}

.registration-title {
    font-size: 40px;
    color: #272727;
    padding-top: 100px;

}

.registration-description {
    color: rgba(39, 39, 39, 0.60);
    font-size: 18px;
    padding-top: 0px;
    padding-bottom: 30px;

}

.registration-form input[type="email"] {

    margin-bottom: 100px;
    padding: 18px 35px;
    border-radius: 8px;
    background: #FFF;
    border: 0px;
    height: 20px;
    width: 500px;
}

/* footer-section */

.footer-section {
    background: #111010;
    text-align: center;
    padding: 90px;
}

.footer-title {
    color:white;
    font-size: 48px;

}

.footer-description{
    color: rgba(255, 255, 255, 0.90);
    font-size: 18px;

}

.footer-copywright{

    color: rgba(255, 255, 255, 0.40);
    font-size: 16px;

}
.footer-span{
  color:#E55473;
}